---
# Install required system packages
- name: Install required system packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-pip
    state: present
    update_cache: yes
  become: yes


# Install Docker engine
- name: Install Docker
  apt:
    name: docker.io
    state: present
  become: yes


# Start and enable Docker service
- name: Start and enable Docker
  systemd:
    name: docker
    state: started
    enabled: yes
  become: yes


# Install Docker SDK for Python (needed for Ansible docker modules)
- name: Install Docker SDK for Python
  pip:
    name: docker
    executable: pip3
  become: yes


# Add ubuntu user to docker group (for SSH/manual usage)
- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes
  become: yes


# Add jenkins user to docker group (CRITICAL for pipeline)
- name: Add jenkins user to docker group
  user:
    name: jenkins
    groups: docker
    append: yes
  become: yes