# ansible/inventory/aws_ec2.yml
plugin: amazon.aws.aws_ec2

regions:
  - us-east-1

# Filter only instances created for this project
filters:
  tag:Project: Devops-Capstone-project
  instance-state-name: running

# Use PRIVATE IPs (recommended since Jenkins, Ansible, Docker are in same VPC)
hostnames:
  - private-ip-address

# Create groups automatically from EC2 tags
keyed_groups:
  - key: tags.Name
    prefix: role
    separator: '_'

  - key: tags.Env
    prefix: env
    separator: '_'

  - key: tags.Project
    prefix: project
    separator: '_'

# Useful variables for Ansible
compose:
  ansible_host: private_ip_address
  ansible_user: ubuntu
  ansible_python_interpreter: /usr/bin/python3
